html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Sans-Serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 445px;
  height: 105px;
  z-index: 2;
}

.navbar .logo {
  display: none;
  float: left;
  padding: 20px 20px 21px 20px;
  background: red;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  transition: all 0.5s;
}

.navbar .search-items {
  float: right;
  display: none;
  overflow: hidden;
  height: 39px;
  padding: 20px 20px 21px 20px;
  border-left: 1px solid rgba(0,0,0,0.3);
  font-size: 30px;
  font-weight: bold;
}

.nav-top {
  width: 100%;
  height: 30px;
  font-size: 14px;
  background: black;
}

.nav-top-left {
  display: inline-block;
  margin-left: 20px;
  margin-top: 8px;
}

.nav-top-right {
  float: right;
  margin-right: 5px;
  margin-top: 8px;
}

.nav-top a {
  margin-right: 5px;
  text-decoration: none;
  color: rgba(255,255,255,0.6);
}

.nav-middle {
  width: 100%;
  height: 45px;
  background: rgba(235,235,235,0.4);
}

.nav-middle-links {
  display: inline-block;
  margin-left: 13px;
  height: 100%;
}

.nav-middle a {
  position: relative;
  top: 10px;
  padding: 8px;
  font-size: 14px;
  color: rgba(115,115,115,0.6);
  text-decoration: none;
}

.nav-bottom {
  display: block;
  width: 100%;
  height: 30px;
  background: rgb(255,221,51);
  font-size: 13px;
  z-index: 10;
}

.nav-bottom-text {
  position: relative;
  height: 30px;
  top: 8px;
  margin-left: 20px;
  height: 100%;
  z-index: 10;
}

.main_container {
  width: 100%;
  height: 3000px;
  background-color: rgba(245,245,245,0.3);
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .navbar .logo {
    display: inline-block;
  }

  .nav-bottom-text {
    margin: 0 0 0 130px !important;
  }
}

@media only screen and (max-width: 820px) {
  .navbar .logo {
    padding: 7px 20px 6px 20px;
    float: none !important;
  }

  .nav-top, .nav-middle  {
    display: none;
  }

  .search-items {
    display: block !important;
    padding: 3px 20px 4px 20px !important;
  }

  .nav-bottom-text {
    margin: 0 0 0 3% !important;
  }
  
}

@media only screen and (max-width: 620px) {
  .navbar .nav-bottom-text {
    margin-left: 5px !important;
    font-size: 10px ;
  }
}
